$f-primary: 0, 0, 0; // 14, 109, 253
$f-secondary: 200, 200, 200;

$f-border-radius: 0;
$f-bg-opacity: 1;

$f-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

/*
 *  Badge Variables
*/
$f-badge-y-padding: 0.65rem;
$f-badge-x-padding: 0.35rem;
$f-badge-font-size: 0.75rem;
$f-badge-font-wght: 700;
$f-badge-font-color: #fff;
$f-badge-border-radius: $f-border-radius;

/*
 *  Button Variables
*/
$f-btn-y-padding: 0.65rem;
$f-btn-x-padding: 0.35rem;
$f-btn-font-size: 0.75rem;
$f-btn-font-wght: 700;
$f-btn-line-height: 1.5;
$f-btn-font-color: #000;
$f-btn-border-radius: $f-border-radius;
$f-btn-border-width: 1px;
$f-btn-border-active-color: #000;