$f-primary: 14, 109, 253;
$f-secondary:207, 207, 207;
$f-success: 69, 254, 78;
$f-warning: 254, 208, 69;
$f-danger: 254, 69, 69;

$f-border-radius: 0.375rem;
$f-bg-opacity: 1;

$f-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

/*
 *  Badge Variables
*/
$f-badge-y-padding: 0.65rem;
$f-badge-x-padding: 0.35rem;
$f-badge-font-size: 0.75rem;
$f-badge-font-wght: 700;
$f-badge-font-color: #fff;
$f-badge-border-radius: $f-border-radius;