@import "variables";
@import "resets";
@import "components";

.bg-primary {
    background-color: RGBA($f-primary, $f-bg-opacity);
    color: white;
}

.bg-secondary {
    background-color: RGBA($f-secondary, $f-bg-opacity);
}